@import '../../../appStyles/app-styles.scss';

.charter-page {
  height: auto;
  width: 100%;
  padding: 2% 0;

  section {
    margin: 0 0 7% 0;
    text-align: center;
  }
}

.main-charter-list {
  width: 70%;
  margin: 0 auto;

  padding: 3% 0;
  text-align: left;

  font-family: $navbar;
  font-size: 1.4vw;
  line-height: 2.5vw;

  .nested-charter-list {
    padding: 0 5%;
    list-style-type: lower-alpha;
  }
}
