@import '../../../appStyles/app-styles.scss';

.home-page {
  height: auto;
  width: 100%;
  padding: 2% 0;

  section {
    margin: 0 0 7% 0;
    text-align: center;
  }
}

.home-page-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  section {
    height: auto;
    width: 45%;

    a {
      font-size: 1.5vw;
    }
  }
}
