@import '../../../../../appStyles/app-styles.scss';

.coll-img-column {
  width: 80%;
  height: 15vw;
  padding: 0 0 0 0;
  margin: 0 0 5% 0;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.coll-two-columns {
  width: 80%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.coll-clansman {
  background-image: url('../../../../../../dist/assets/blogPosts/coll/collHarbour.jpg');
  height: 38vw;
  width: 80%;
}
.coll-beach {
  background-image: url('../../../../../../dist/assets/blogPosts/coll/collBeach1.jpg');
  height: 38vw;
  width: 80%;
}
.coll-an-cridhe-logo {
  background-image: url('../../../../../../dist/assets/partnerLogos/AnCridheLogo.jpg');
  height: 10vw;
  width: 45%;
}
.coll-bunkhouse-logo {
  background-image: url('../../../../../../dist/assets/partnerLogos/BunkhouseLogo.jpg');
  height: 13vw;
  width: 45%;
}
.coll-seals {
  background-image: url('../../../../../../dist/assets/blogPosts/coll/sealsColl.jpg');
  height: 42vw;
  width: 80%;
}
.coll-rocky-beach {
  background-image: url('../../../../../../dist/assets/blogPosts/coll/collBeach2.jpg');
  height: 38vw;
  width: 80%;
}
.coll-beach-clean-one {
  background-image: url('../../../../../../dist/assets/blogPosts/coll/beachClean1.jpg');
  height: 38vw;
  width: 80%;
}
.coll-beach-clean-two {
  background-image: url('../../../../../../dist/assets/blogPosts/coll/beachClean2.jpg');
  height: 21vw;
  width: 50%;
  margin: 0 1% 0 0;
}
.coll-beach-clean-three {
  background-image: url('../../../../../../dist/assets/blogPosts/coll/beachClean3.jpg');
  height: 21vw;
  width: 50%;
  margin: 0 0 0 1%;
}
.coll-sunset {
  background-image: url('../../../../../../dist/assets/blogPosts/coll/sunsetArinagour.jpg');
  height: 38vw;
  width: 80%;
}
