@import '../../../../appStyles/app-styles.scss';

.mpartner-comp {
  height: 30vw;
  width: 50vw;
  margin: 2%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .mpartner-logo-container {
    display: block;
    border: none;
    background-position: center;

    &.an-cridhe {
      height: 65%;
      width: 100%;

      background-image: url('../../../../../dist/assets/partnerLogos/AnCridheLogo.jpg');
      background-size: contain;
      background-repeat: no-repeat;
    }

    &.coll-bunkhouse {
      height: 100%;
      width: 85%;

      background-image: url('../../../../../dist/assets/partnerLogos/BunkhouseLogo.jpg');
      background-size: contain;
      background-repeat: no-repeat;
    }

    &.calmac {
      height: 65%;
      width: 100%;

      background-image: url('../../../../../dist/assets/partnerLogos/CaledonianMacBrayneLogo.jpg');
      background-size: contain;
      background-repeat: no-repeat;
    }

    &.hidden-scotland {
      height: 100%;
      width: 65%;

      background-image: url('../../../../../dist/assets/partnerLogos/HiddenScotlandLogo.jpg');
      background-size: contain;
      background-repeat: no-repeat;
    }

    &.jmtrust {
      height: 100%;
      width: 100%;

      background-image: url('../../../../../dist/assets/partnerLogos/JMTLogo.jpg');
      background-size: contain;
      background-repeat: no-repeat;
    }

    &.arran {
      height: 100%;
      width: 90%;

      background-image: url('../../../../../dist/assets/partnerLogos/ArranLogo.jpg');
      background-size: contain;
      background-repeat: no-repeat;
    }

    &.msc {
      height: 90%;
      width: 100%;

      background-image: url('../../../../../dist/assets/partnerLogos/MSCLogo.png');
      background-size: contain;
      background-repeat: no-repeat;
    }

    &.nevisport {
      height: 90%;
      width: 100%;

      background-image: url('../../../../../dist/assets/partnerLogos/nevisport_logo_colour.png');
      background-size: contain;
      background-repeat: no-repeat;
    }

    &.trespass {
      height: 90%;
      width: 100%;

      background-image: url('../../../../../dist/assets/partnerLogos/trespass_logo_colour.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
