@import '../../../../appStyles/app-styles.scss';

.mpartners-page {
  height: auto;
  width: 100%;

  section {
    margin: 0 0 7% 0;
    text-align: left;
  }

  .mpartner-logos {
    height: auto;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.mpartners-img {
  width: 100%;
  height: auto;
  margin-bottom: 2%;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;

  &.nevisport-one {
    background-image: url('../../../../../dist/assets/campaignPageImages/nevisport_banner_one.png');
    width: 100%;
    height: 140vw;
  }

  &.nevisport-two {
    background-image: url('../../../../../dist/assets/campaignPageImages/nevisport_shop_one.jpg');
    width: 100%;
    height: 110vw;
  }
}
