@import '../../../../appStyles/app-styles.scss';

.mpartners-page {
  height: auto;
  width: 100%;

  section {
    margin: 0 0 7% 0;
    text-align: left;
  }

  .mpartner-logos {
    height: auto;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
