@import '../../appStyles/app-styles.scss';

.mnavbar {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  z-index: 180;

  position: fixed;
  top: 0;
  right: 0;
  transition: all 0.5s ease-in-out;

  &.open {
    right: 0;
  }

  &.closed {
    right: -100vw;
  }
}

.mnavbar-background {
  height: 100vh;
  width: 45vw;
  z-index: 200;

  background-color: transparent;
}

.mnavbar-drawer {
  height: 100%;
  width: 55vw;
  z-index: 200;

  //border: 1px solid yellow;
  background-color: $mobile-navbar;
  font-family: $navbar;

  .mnavbar-close-button-container {
    width: 100%;
    height: 9%;

    display: flex;
    flex-direction: row;
    align-items: center;

    .mnavbar-close-button {
      height: 10vw;
      width: 10vw;
      margin-left: 5%;
      background-color: transparent;
      outline: none;
      border: none;
    }
  }
  .mnav {
    margin: 6% 12%;

    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .mnav-button {
      background-color: $mobile-navbar;
      outline: none;

      border: none;
      color: $light-text;

      font-size: 3.5vw;
      letter-spacing: 0.1vw;
      font-weight: 500;
      text-align: left;
      line-height: 6vw;
    }

    .mnav-about-collapse {
      padding: 0 10%;

      color: $light-text;
      font-family: $lato;
      font-size: 6vw;
    }
  }
}

.mnav-about-menu {
  margin: 0 0 0 10%;
}
