@import '../../../../../appStyles/app-styles.scss';

.msaf-intro {
  width: 80%;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  .msaf-intro-img {
    padding: 2% 0;
  }
}

.msaf-stephanie-cope {
  background-image: url('../../../../../../dist/assets/blogPosts/surfAndTurf/stephanieCope.jpg');

  height: 80vw;
  width: 100%;
}
.msaf-view-of-tiree {
  background-image: url('../../../../../../dist/assets/blogPosts/surfAndTurf/viewOfTiree.jpg');
  height: 55vw;
  width: 100%;
}
.msaf-finn-mellon {
  background-image: url('../../../../../../dist/assets/blogPosts/surfAndTurf/finnMellon.jpg');
  height: 55vw;
  width: 100%;
}
.msaf-traigh-thodhrasdail {
  background-image: url('../../../../../../dist/assets/blogPosts/surfAndTurf/traighThodhrasdail.jpg');
  height: 55vw;
  width: 100%;
}
.msaf-first-machair {
  background-image: url('../../../../../../dist/assets/blogPosts/surfAndTurf/firstMachair.jpg');
  height: 55vw;
  width: 100%;
}
.msaf-machair-evening {
  background-image: url('../../../../../../dist/assets/blogPosts/surfAndTurf/machairEvening.jpg');
  height: 55vw;
  width: 100%;
}
.msaf-corncrake {
  background-image: url('../../../../../../dist/assets/blogPosts/surfAndTurf/corncrake.jpg');
  height: 52vw;
  width: 100%;
}
.msaf-brown-hare {
  background-image: url('../../../../../../dist/assets/blogPosts/surfAndTurf/brownHare.jpg');
  height: 55vw;
  width: 100%;
}
.msaf-redshank {
  background-image: url('../../../../../../dist/assets/blogPosts/surfAndTurf/RedshankChick.JPG');
  height: 55vw;
  width: 100%;
}
.msaf-highland-cow {
  background-image: url('../../../../../../dist/assets/blogPosts/surfAndTurf/highlandCow.jpg');
  height: 52vw;
  width: 100%;
}
.msaf-wildflowers {
  background-image: url('../../../../../../dist/assets/blogPosts/surfAndTurf/wildflowers.jpg');
  height: 55vw;
  width: 100%;
}
.msaf-traigh-caolas {
  background-image: url('../../../../../../dist/assets/blogPosts/surfAndTurf/traightCaolas.jpg');
  height: 55vw;
  width: 100%;
}
