@import '../../../app-styles.scss';

.blog-post-container {
  height: auto;
  width: 100%;

  border: 1px solid red;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  .blog-content {
    height: auto;
    width: 100%;

    border: 1px solid green;
  }
}
