@import '../../../appStyles/app-styles.scss';

.blog-page {
  height: auto;
  width: 100%;
  padding: 2% 0;

  section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
  }
}

.blog-post-container {
  height: auto;
  width: 100%;

  //border: 1px solid red;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  .blog-content {
    height: auto;
    width: 100%;

    //border: 1px solid green;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;

    .blog-button-container {
      height: auto;
      width: 100%;

      .blog-button {
        padding: 1%;
        font-family: $navbar;
        font-size: 1vw;
        font-weight: 700;
        letter-spacing: 0.1vw;
        background-color: transparent;
        color: $links;
        border: none;
        outline: none;

        &:hover {
          border: 0px solid $links;
          background-color: $links;
          color: $light-text;
          border-radius: 15vw;
          cursor: pointer;
        }
      }
    }

    .blog-post-title-container {
      width: 80%;

      text-align: center;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      .blog-post-title {
        padding: 0 10%;
        margin: 3%;

        font-family: $lato;
        font-size: 2vw;
        font-weight: 600;

        color: $dark-text;
      }

      .blog-post-date {
        font-family: $lora;
        font-style: italic;
        color: $img-caption;
      }

      .blog-post-author {
        font-family: $lato;
        font-size: 1.3vw;
        font-weight: 600;

        color: $dark-text;
      }
    }

    p {
      margin: 2% 0;
      width: 80%;
      font-family: $navbar;
      line-height: 2vw;

      &.blog-img-caption {
        margin: 0 0 1% 0;
        font-size: 1vw;
        color: $img-caption;
      }
    }

    h3 {
      width: 80%;
      font-size: 1.5vw;
    }

    ul {
      margin: 0 0 2% 0;
      width: 70%;
      font-family: $navbar;
      line-height: 2vw;
    }

    .blog-link {
      font-family: $navbar;
      color: $links;
      font-style: normal;

      &:hover {
        border-bottom: 3px solid $links;
      }
    }
  }
}

.blog-img {
  background-size: contain;
  background-repeat: no-repeat;
}
