@import '../../../../../appStyles/app-styles.scss';

.mmcs-logo {
  background-image: url('../../../../../../dist/assets/blogPosts/mcs/mcsLogo.png');
  margin: 2% 0 0 0;
  height: 45vw;
  width: 100%;
}

.mmcs-instameet {
  background-image: url('../../../../../../dist/assets/blogPosts/mcs/ShoreYouCare_SusanneArbuckle.jpeg');
  height: 60vw;
  width: 100%;
}
