@import '../../../appStyles/app-styles.scss';

.mblog-page {
  height: auto;
  width: 100%;
  padding: 2% 0;

  section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
  }
}

.mblog-post-container {
  height: auto;
  width: 100%;

  //border: 1px solid red;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;

  .mblog-content {
    height: auto;
    width: 100%;

    //border: 1px solid green;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;

    .mblog-button-container {
      height: auto;
      width: 100%;

      .mblog-button {
        padding: 2%;
        font-family: $navbar;
        font-size: 2.5vw;
        margin: 5% 0 5% 0;
        font-weight: 700;
        letter-spacing: 0.2vw;
        background-color: transparent;
        color: $links;
        border: 3px solid $links;
        border-radius: 15vw;
        outline: none;

        &:hover {
          border: 3px solid $links;
          background-color: $links;
          color: $light-text;
          border-radius: 15vw;
          cursor: pointer;
        }
      }
    }

    .mblog-post-title-container {
      width: 100%;

      text-align: center;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      .mblog-post-title {
        margin: 3%;

        font-family: $lato;
        font-size: 6vw;
        font-weight: 600;

        color: $dark-text;
      }

      .mblog-post-date {
        margin: 3% 0;
        font-size: 4.5vw;
        font-family: $lora;
        font-style: italic;
        color: $img-caption;
        text-align: center;
      }

      .mblog-post-author {
        margin: 3% 0 7% 0;
        font-family: $lato;
        font-size: 4vw;
        font-weight: 600;
        text-align: center;

        color: $dark-text;
      }
    }

    p {
      margin: 5% 0;
      width: 100%;
      font-size: 4vw;
      font-family: $navbar;
      line-height: 6vw;
      text-align: left;

      &.mblog-img-caption {
        margin: 2% 0;
        font-size: 3.5vw;
        color: $img-caption;
      }
    }

    h3 {
      width: 100%;
      font-size: 5vw;
    }

    ul {
      margin: 0 0 2% 0;
      width: 70%;
      font-family: $navbar;
      line-height: 6vw;
      font-size: 4vw;
    }

    .mblog-link {
      font-family: $navbar;
      color: $links;
      font-style: normal;

      &:hover {
        border-bottom: 3px solid $links;
      }
    }

    .mblog-link-img-caption {
      font-size: 3.5vw;
      font-family: $navbar;
      color: $links;
      font-style: normal;
    }
  }
}

.mblog-img {
  background-size: cover;
  background-repeat: no-repeat;
  //border: 1px solid red;
}
