@import './app-styles.scss';

///HTML ELEMENT STYLES

h2 {
  margin: 5% 3%;

  font-family: $lato;
  font-weight: 500;
  font-size: 2.5vw;

  color: $dark-text;
}

h3 {
  margin: 3%;

  font-family: $lato;
  font-size: 2vw;
  font-weight: 500;
  line-height: 2.7vw;

  color: $dark-text;
}

p {
  margin: 3%;

  font-family: $navbar;
  font-size: 1.4vw;
  line-height: 2.5vw;
  color: $black-text;
}

a {
  font-family: $lora;
  font-style: italic;
  text-decoration: none;
  color: $links;

  &.link-underlined {
    &:hover {
      border-bottom: 3px solid $links;
      cursor: pointer;
    }
  }
}
