@import '../../app-styles.scss';

.header-container {
  height: 75%;
  width: 100%;
  flex-shrink: 0;

  background-image: url('../../../dist/assets/testBackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;

  .header-filter {
    height: 100%;
    width: 100%;
    z-index: auto;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: $banner-filter;
    opacity: 0.5;
  }
  .navbar-container {
    z-index: 100;
    height: 14%;
    width: 100%;
    padding: 0px 5% 0px 2%;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .navbar-logo {
      height: 67%;
      width: 10%;
      background-image: url('../../../dist/assets/RR_Stacked_Logo.png');
      background-size: contain;
      background-repeat: no-repeat;
    }

    .navbar-button-container {
      height: 70%;
      width: 85%;

      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      button {
        outline: none;
        background: none;
        border: none;
        margin-bottom: 2px;

        font-family: $navbar;
        font-weight: 500;
        font-size: 1vw;
        letter-spacing: 0.1vw;

        color: $light-text;

        &:hover {
          cursor: pointer;
          &::after {
            transform: scaleX(1);
          }
        }

        &::after {
          display: block;
          content: '';
          border-bottom: 2px solid white;
          transform: scaleX(0);
          transition: transform 220ms ease-in-out;
        }
      }
    }
  }

  .header-banner {
    height: 86%;
    width: 100%;

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: $light-text;
    letter-spacing: 0.1vw;
    text-align: center;

    .small-banner-heading {
      font-family: $lora;
      font-style: italic;
      font-size: 1.5vw;
    }

    .large-banner-heading {
      width: 60%;

      margin: 1%;
      font-family: $lato;
      font-weight: 600;
      font-size: 4.5vw;
    }
  }
}
