@import '../../../app-styles.scss';

.about-page {
  height: auto;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  .about-page-nav {
    height: auto;
    width: 20%;
    padding: 3% 0;

    display: flex;
    flex-direction: column;
    align-items: baseline;

    .about-nav-title {
      margin: 0 0 10% 0;

      font-family: $navbar;
      font-weight: 500;
      font-size: 1.5vw;
      letter-spacing: 0.1vw;
      color: $dark-text;
    }

    .about-header-button {
      outline: none;
      background: none;
      border: none;

      margin: 5% 0;

      font-family: $navbar;
      font-weight: 500;
      font-size: 1vw;
      letter-spacing: 0.1vw;
      color: $links;
      opacity: 0.6;

      &.selected {
        opacity: 1;

        //padding-left: 5%;
        //border-left: 3px solid $links;
      }

      &:hover {
        cursor: pointer;
        &::after {
          transform: scaleX(1);
        }
      }

      &::after {
        display: block;
        content: '';
        border-bottom: 2px solid $links;
        transform: scaleX(0);
        transition: transform 220ms ease-in-out;
      }
    }
  }

  .about-page-cont {
    height: auto;
    width: 80%;
    padding: 2% 0;
  }
}
