@import '../../../appStyles/app-styles.scss';

.contact-page {
  height: auto;
  width: 100%;
  //padding: 2% 0;

  section {
    margin: 0 0 7% 0;
    text-align: left;
  }
}

.rr-logo-contact-page {
  margin: 2% 0 0 0;
  height: 12vh;
  width: 20vw;

  background-image: url('../../../../dist/assets/rrLogos/RR_rectangle_logo_black.png');

  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}
