@import '../../../app-styles.scss';

.ig-page {
  height: auto;
  width: 100%;
  //padding: 2% 0;

  section {
    margin: 0 0 7% 0;
    text-align: left;

    .ig-list {
      padding: 0 3%;

      li {
        margin: 2% 0;
        list-style-type: none;
      }
    }
  }
}
