@import '../../../../../appStyles/app-styles.scss';

.saf-stephanie-cope {
  background-image: url('/dist/assets/blogPosts/surfAndTurf/stephanieCope.jpg');

  height: 56vw;
  width: 80%;
}
.saf-view-of-tiree {
  background-image: url('/dist/assets/blogPosts/surfAndTurf/viewOfTiree.jfif');
  height: 37vw;
  width: 80%;
}
.saf-finn-mellon {
  background-image: url('/dist/assets/blogPosts/surfAndTurf/finnMellon.jfif');
  height: 37vw;
  width: 80%;
}
.saf-traigh-thodhrasdail {
  background-image: url('/dist/assets/blogPosts/surfAndTurf/traighThodhrasdail.jfif');
  height: 37vw;
  width: 80%;
}
.saf-first-machair {
  background-image: url('/dist/assets/blogPosts/surfAndTurf/firstMachair.jfif');
  height: 37vw;
  width: 80%;
}
.saf-machair-evening {
  background-image: url('/dist/assets/blogPosts/surfAndTurf/machairEvening.jfif');
  height: 37vw;
  width: 80%;
}
.saf-corncrake {
  background-image: url('/dist/assets/blogPosts/surfAndTurf/corncrake.jpg');
  height: 36vw;
  width: 80%;
}
.saf-brown-hare {
  background-image: url('/dist/assets/blogPosts/surfAndTurf/brownHare.jfif');
  height: 37vw;
  width: 80%;
}
.saf-redshank {
  background-image: url('/dist/assets/blogPosts/surfAndTurf/RedshankChick.JPG');
  height: 37vw;
  width: 80%;
}
.saf-highland-cow {
  background-image: url('/dist/assets/blogPosts/surfAndTurf/highlandCow.jfif');
  height: 34vw;
  width: 80%;
}
.saf-wildflowers {
  background-image: url('/dist/assets/blogPosts/surfAndTurf/wildflowers.jfif');
  height: 37vw;
  width: 80%;
}
.saf-traigh-caolas {
  background-image: url('/dist/assets/blogPosts/surfAndTurf/traightCaolas.jfif');
  height: 37vw;
  width: 80%;
}
