@import '../../../../../appStyles/app-styles.scss';

.saf-intro {
  width: 80%;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  .saf-intro-img {
    padding: 2% 0;
  }
}

.saf-stephanie-cope {
  background-image: url('/dist/assets/blogPosts/surfAndTurf/stephanieCope.jpg');
  margin: 2% 0;
  height: 25vw;
  width: 25vw;
}
.saf-view-of-tiree {
  background-image: url('/dist/assets/blogPosts/surfAndTurf/viewOfTiree.jfif');
  height: 38vw;
  width: 80%;
}
.saf-finn-mellon {
  background-image: url('/dist/assets/blogPosts/surfAndTurf/finnMellon.jfif');
  height: 38vw;
  width: 80%;
}
.saf-traigh-thodhrasdail {
  background-image: url('/dist/assets/blogPosts/surfAndTurf/traighThodhrasdail.jfif');
  height: 38vw;
  width: 80%;
}
.saf-first-machair {
  background-image: url('/dist/assets/blogPosts/surfAndTurf/firstMachair.jfif');
  height: 38vw;
  width: 80%;
}
.saf-machair-evening {
  background-image: url('/dist/assets/blogPosts/surfAndTurf/machairEvening.jfif');
  height: 38vw;
  width: 80%;
}
.saf-corncrake {
  background-image: url('/dist/assets/blogPosts/surfAndTurf/corncrake.jpg');
  height: 37vw;
  width: 80%;
}
.saf-brown-hare {
  background-image: url('/dist/assets/blogPosts/surfAndTurf/brownHare.jfif');
  height: 38vw;
  width: 80%;
}
.saf-redshank {
  background-image: url('/dist/assets/blogPosts/surfAndTurf/RedshankChick.JPG');
  height: 38vw;
  width: 80%;
}
.saf-highland-cow {
  background-image: url('/dist/assets/blogPosts/surfAndTurf/highlandCow.jfif');
  height: 34vw;
  width: 80%;
}
.saf-wildflowers {
  background-image: url('/dist/assets/blogPosts/surfAndTurf/wildflowers.jfif');
  height: 38vw;
  width: 80%;
}
.saf-traigh-caolas {
  background-image: url('/dist/assets/blogPosts/surfAndTurf/traightCaolas.jfif');
  height: 38vw;
  width: 80%;
}
