@import '../../../appStyles/app-styles.scss';

.mhome-page {
  height: auto;
  width: 100%;
  margin: 0 0 5% 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .mhome-page-links {
    height: auto;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
  }
}

.mobile-home-a {
  font-size: 5vw;
  border-bottom: 2px solid $links;
}
