///////////////FONTS

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

//all headings
$montserrat: 'Montserrat', sans-serif;

//regular 400 and regular 400 italic
$pt-serif: 'PT Serif', serif;

//regular 400 and regular 400 italic
//small header banner
$lora: 'Lora', serif;

// Roboto 100, 200, 300, 400, 600, 700
$navbar: 'Roboto', sans-serif;

///HTML ELEMENT STYLES

h2 {
  margin: 3%;

  font-family: $montserrat;
  font-size: 2vw;
  font-weight: 500;
  color: #3d3b3c;
}

p {
  margin: 3%;

  font-family: $pt-serif;
  font-size: 1.2vw;
  line-height: 2vw;
  color: #000;
}

//////////////COLOURS

$light-text: #ffffff;

$banner-filter: #5e5a5c;
