body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app-root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;


  .container {
    width: 30%;
    height: 80%;
    border: 1px solid black;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .top-bar {
      width: 100%;
      flex: 0 0 60px;
      border: 1px solid red;
      margin-bottom: 10px;
    }

    .list-box {
      width: 100%;
      flex: 1 1 auto;
      border: 1px solid purple;
    }
  }
}
