@import '../../../appStyles/app-styles.scss';

.mmain-charter-list {
  height: auto;
  width: 100%;
  padding: 0 0 0 8%;
  line-height: 6vw;

  font-family: $navbar;
  font-size: 4vw;

  .mnested-charter-list {
    height: auto;
    width: 100%;
    padding: 0 0 0 10%;
  }
}

.mcharter-link {
  font-family: $navbar;
  font-style: normal;
  font-weight: normal;
  border-bottom: 2px solid $links;
}
